/* Selector {
    Propery:value;

    note: as addding selectors,go from top to bottom
}
*/
body{background-color: antiquewhite}
h1 {font-size:18px;color:blue;text-transform: uppercase;}
header+h1 {float:left;font-size:16px;}
h2 {color:#08204A;text-align: left;border-bottom: 1px solid rgb(4, 21, 32);cursor: pointer;margin-top:20px;}
header+h1, nav {margin-bottom:40px;}
nav {list-style: none;float:right;}
section > h2 {font-size:16px;color:brown;}
p { color:green;line-height: 20px;font-family: 'Indie Flower', cursive;}
